.spacer30.advice-resize
.spacer30.advice-resize
.spacer30.advice-resize
.spacer30.advice-resize
.spacer30.advice-resize

//- h1 TO DO: Add 3 buttons (renters, roommates, landlords)
.row
  .col-md-12.advice-title
    h1.row-centered Everything you need to know about renting in Toronto
.spacer30.advice-resize

.row.advice-options
  .col-xs-4.col-md-3.col-md-offset-2
    .categoryButton.renters(ui-sref="public.nav.advice.renters.article1")
      h1 Renters
  .col-xs-4.col-md-3
    .categoryButton.roommates(ui-sref="public.nav.advice.roommates.article1")
      h1 Roommates
  .col-xs-4.col-md-3
    .categoryButton.landlords(ui-sref="public.nav.advice.landlords.article1")
      h1 Landlords
