.spacer30
.spacer30
.row.subtitle
    .col-xs-12.col-sm-12.col-md-12
        .breadCrumbTrail
          .backButton 
              a(href='/listings') 
                  i.fa.fa-angle-left 
                  span Back to my listings
          //- TODO: Hack
          //- .backButton(ng-click="onBackButtonSelect()")
            i.fa.fa-angle-left 
            span Back to preview
.spacer30
.spacer30
.spacer30
.row.hidden-sm.hidden-xs
  .col-md-offset-2.col-md-1
    .circle
      .h1.formHeader 1
  .col-md-2
    .horizontalLine
  .col-md-1
    .circle
      .h1.formHeader.grey 2
  .col-md-2
    .horizontalLine
  .col-md-1
    .circle
      .h1.formHeader.grey 3

.spacer30
.row
  .col-sm-12.col-md-11.npColSm
    h1.formHeader.formHeaderColor Final details
.spacer30
.row
  .col-sm-10.col-sm-offset-1.npColSm.mobileAddEdit
    form.form-horizontal(ng-submit='updateAndFinishSharedPropertyById()', name='listingForm', role='form')
      .row(data-flow-init='{target: "/profile/api/uploadToShared", testChunks:false, propertyId: $root.property._id }', data-flow-files-submitted='$flow.upload()', data-flow-file-success='$file.msg = $message')
        //-   .col-md-9.col-centered
        //-     .row
        //-       .col-sm-6.last
        //-         .progress(ng-show='$flow.isUploading()')
        //-           .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
        //-             span.sr-only Uploading..
        //-     .row
        //-       .col-sm-12
        //-         table.table.table-hover
        //-           thead
        //-             tr
        //-               th(style='width: 25px')
        //-                 span.glyphicon.glyphicon-file
        //-               th(style='width: 150px') Size
        //-               th(style='min-width: 200px') Name
        //-           tbody
        //-             tr(data-ng-repeat='file in $flow.files')
        //-               td
        //-                 span.glyphicon.glyphicon-file
        //-               td {{file.size / 1024 | number:0}} KB
        //-               td
        //-                 a(ng-href='/folders/folder/{{file.name}}') {{file.name}}
        //-     .row
        //-       .col-sm-12
        //-         span.btn.btn-default.upload(data-flow-btn='')
        //-           | Profile photo
        //-     .spacer30
        //- .form-group
        //-   label.control-label.col-sm-3(for='landlordEmail') Email
        //-   .col-sm-8.npColSm
        //-     input.form-control.longMobileForm-control(type='email', data-ng-model='property.emailAddress', placeholder='', editable=false, ng-disabled='true', name='emailAddress')
        //- .form-group
        //-   label.control-label.col-sm-3(for='landlordPhone') Phone
        //-   .col-sm-8.npColSm
        //-     input.form-control.longMobileForm-control(type='text', ng-pattern="onlyNumbers" data-ng-model='property.phone', placeholder='', name='phone')
        //- .form-group
        //-   .col-sm-12.col-md-offset-3.col-md-5
        //-     button.btn.btn-form(type='submit', data-ng-disabled='listingForm.$invalid') Finish
        .form-group
          label.control-label.col-sm-3(for='firstName') Profile photo:
            span.manditory *
          .col-sm-8.npColSm
                .row
                  .last
                    .progress(ng-show='$flow.isUploading()')
                      .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
                        span.sr-only Uploading..
                .row
                    div.gallery-box.ng-scope(ng-repeat='file in existingProfileImages')
                      div.thumbnail
                        img(ng-src='{{ file }}')
                      div.btn-group
                        a.btn.btn-xs.btn-danger(ng-click='removeExistingProfilePictures(file)')
                          | Remove
                    div.gallery-box.ng-scope(ng-repeat='file in $flow.files')
                      div.thumbnail(ng-show='$flow.files.length')
                        img(flow-img='file')
                      div.btn-group
                        a.btn.btn-xs.btn-danger(ng-click='deletePropertyPictures(file)')
                          | Remove
                .row
                    span.btn.btn-default.upload(data-flow-btn='')
                      | Add profile photo
        .form-group
          label.control-label.col-sm-3(for='description') Personal Description
            span.manditory *
          .col-sm-8.npColSm
            textarea.form-control.longMobileForm-control.align-left(type='textarea', data-ng-model='apartmate.personalDescription', placeholder='Tell us a bit about yourself', name='description' required='required')
        .form-group
          label.control-label.col-sm-3(for='firstName') First name
            span.manditory *
          .col-sm-8.npColSm
            input.form-control.longMobileForm-control(type='text', data-ng-model='apartmate.name', placeholder='', name='firstName', required='required')
        .form-group
          label.control-label.col-sm-3(for='gender') Gender
            span.manditory *
          .col-sm-8.npColSm
            .btn-group(dropdown='')
              button.btn.btn-primary.dropdown-toggle.longMobileForm-control(type='button', dropdown-toggle='', ng-disabled='disabled')
                | {{ apartmate.selectedGender }}
                span.caret
              ul.dropdown-menu.npColSm(role='menu')
                li
                  a(ui-sref='.' ng-click="onGenderSelect('Male')") Male
                li
                  a(ui-sref='.' ng-click="onGenderSelect('Female')") Female

        .form-group
          label.control-label.col-sm-3(for='ageGroup') Age
            span.manditory *
          .col-sm-8.npColSm
            input.form-control.longMobileForm-control(type='text', ng-pattern="onlyNumbers" data-ng-model='apartmate.selectedAgeGroup', maxlength="2" placeholder='', name='ageGroup' required='required')
        .form-group
          label.control-label.col-sm-3(for='lifestyle') Occupation
            span.manditory *
          .col-sm-8.npColSm
            input.form-control.longMobileForm-control(type='text', data-ng-model='apartmate.selectedLifestyle', placeholder='', name='lifestyle', required='required')
        .form-group
          label.control-label.col-sm-3(for='landlordEmail') Email
          .col-sm-8.npColSm
            input.form-control.longMobileForm-control(type='email', data-ng-model='apartmate.emailAddress', placeholder='', name='emailAddress', editable=false, ng-disabled='true')
        //- form-group
          label.control-label.col-sm-3(for='linkedInVerification') LinkedIn
          .col-sm-8.npColSm(ng-show="!apartmate.linkedInVerified")
            a(href='#' ng-click="verifyLinkedIn()") Connect to verify
          .col-sm-8.npColSm(ng-show="apartmate.linkedInVerified")
            img(ng-src="/img/profile/verified.png").

        .form-group
          .col-sm-12.col-md-offset-3.col-md-5
            button.btn.btn-form(type='submit', data-ng-disabled='listingForm.$invalid || ($flow.files.length == 0 && existingProfileImages.length == 0) || $flow.isUploading()') Finish
hr