.row 
    .col-xs-12.col-sm-12.col-md-12.no-padding
        .spacer30
        .spacer30
        .row.subtitle
            .col-xs-12.col-sm-12.col-md-12
                .breadCrumbTrail
                    .backButton 
                        a(href='/listings') 
                            i.fa.fa-angle-left 
                            span Back to my listings
                    span Your listing: 
                        b {{property.property.published ? 'Published' : 'Not published' }}
                        
                    .backButton.edit(ng-click="onDeactivatePropertySelect(property)") 
                        i.fa.fa-trash-o
                        span Delete
                    .backButton.edit(ng-click="onEditPropertySelect(property)") 
                        i.fa.fa-pencil
                        span Edit  
                    .backButton.edit(ng-click="togglePublishListingSelect()") 
                        div(ng-hide='property.property.published')
                            i.fa.fa-plus-circle
                            span Publish
                        div(ng-show='property.property.published')
                            i.fa.fa-minus-circle
                            span Unpublish 
        .spacer30
        .spacer30 
        .row
            .col-xs-12.col-sm-12.col-md-offset-2.col-md-6.offset-listColumn
                .listingColumn
                    .row.listing-custom
                        .col-md-3.no-padding
                          .propertyThumbnail
                            img(ng-src="{{ property.addedProfileImages[0].url }}", width='100%', height='100%')
                          h4 
                            | {{ property.name }}
                            span(ng-show="property.propertyType != 'Entire'") , {{property.ageGroup}}
                          h5 {{property.lifestyle}}
                          h5(ng-show="property.propertyType == 'Entire'") {{property.landlordType}}
                        .col-md-9.no-padding
                          .listingTitle
                            h3 {{ property.title | characters:76 :false }}
                            .titleAndTags
                              .row
                                .col-sm-2.col-md-2
                                  .tagGroup(ng-show="{{ property.bedrooms != '' }}")
                                    .tagImage
                                      img(ng-src="/img/tagsIcon_bed.png") 
                                    .tagTitle
                                      | {{ property.bedrooms | limitTo: 1 }} bed
                                .col-sm-2.col-md-2(ng-show="{{ property.bathrooms != '' }}")
                                  .tagGroup
                                    .tagImage 
                                      img(ng-src="/img/tagsIcon_bath.png")
                                    .tagTitle
                                      | {{ property.bathrooms | limitTo: 1 }} bath
                                .col-sm-2.col-md-2(ng-show="property.petsWelcome !== undefined && property.petsWelcome.length != 0 && property.petsWelcome[0].name != 'No' ")
                                  .tagGroup
                                    .tagImage 
                                      img(ng-src="/img/tagsIcon_pets.png")
                                    .tagTitle
                                      span(ng-show="property.petsWelcome[0].name == 'Yes' " )
                                        | Pets ok
                                      span(ng-show="property.petsWelcome[0].name != 'Yes' " )
                                        | {{ property.petsWelcome[0].name }}
                                .col-sm-2.col-md-2(ng-show="property.LGBTWelcome !== undefined && property.LGBTWelcome.length != 0 && property.LGBTWelcome[0].name != 'No' ")
                                  .tagGroup
                                    .tagImage 
                                      img(ng-src="/img/tagsIcon_LGBT.png")
                                    .tagTitle
                                      | LGBT ok
                                .col-sm-2.col-md-2(ng-show="property.couplesWelcome !== undefined && property.couplesWelcome.length != 0 && property.couplesWelcome[0].name != 'No' ")
                                  .tagGroup
                                    .tagImage 
                                      img(ng-src="/img/tagsIcon_couple.png")
                                    .tagTitle
                                      | Couples ok 
                    .row.imageGallery
                        .col-md-12.propertyImg
                            .propertyImage(ng-click="clickThrough()")
                                img(ng-src="{{ selectedPropertyImage }}", width='646px', height='460px')
                    .row.imageThumbGallery
                        .col-lg-2.col-md-2.col-sm-6.col-xs-6(ng-repeat="image in property.allImages", ng-click='')
                            .imageThumb(ng-click="changeSelectedImage(image)")
                                img(ng-src='{{ image.url }}', width='95px', height='72px')

                    .row.listingHeader
                      .col-md-2.col-sm-12
                        h4 Amenities
                      .col-md-9.col-sm-12
                        .amenities.row
                          .col-md-6(ng-repeat="amenity in property.utlitiesIncluded")
                            | {{amenity.name}}
                          .col-md-6(ng-repeat="amenity in property.featuresIncluded")
                            | {{amenity.name}}
                    .row.propertyDescription
                        .col-md-2.col-sm-12
                            h4 Description
                        .col-md-9.col-sm-12
                            p {{ property.description }}

                    .row.propertyMap
                        .col-md-12.col-sm-12
                            leaflet.propertyDetailMap(defaults='defaults', center='toronto', tiles="tiles", markers="markers", height='370px', width='580px')

            .col-xs-12.col-sm-4.col-md-4.offset-listingSideBar
                .listingSideBar
                    h3 ${{ property.price }}
                    p(ng-show="!property.property.published") This property is pending completion
                    //- p Available {{ property.formattedAvailableDate }}
                    p(ng-show="property.property.published && property.daysAgo != 1 && property.daysAgo !=0" ) Published {{ property.daysAgo }} days ago
                    p(ng-show="property.property.published && property.daysAgo == 1" ) Published yesterday 
                    p(ng-show="property.property.published && property.daysAgo == 0" ) Published today 

                    //- p(ng-show="property.published") Published {{ property.daysAgo }} days ago. 
                    .row.emailAndPhone
                        .col-md-12.emailButton(ng-show="(property.email && property.email.length > 3 )", ng-click="onEmailClick()", ng-class="{ 'active': emailMessage != 'Email'} ")
                            p {{ emailMessage }}
                    .row.facebookShare
                        .col-md-12(ng-click="fbShare()")
                            span Share on 
                                span.facebookFont facebook
                .listingSideBar.ng-cloak(ng-show="property.addedProfileImages[0].url != '' && property.addedProfileImages")
                    .row.propertyProfileImage(ng-click="goToMyProfile()")
                        img(ng-src="{{ property.addedProfileImages[0].url }}", width='100%', height='100%')
                        h3.align-left 
                          | {{property.name}}
                          span(ng-show="property.propertyType != 'Entire'") , {{property.ageGroup}}
                        h4.align-left(ng-show="property.propertyType != 'Entire'") {{property.lifestyle}}
                        h4.align-left(ng-show="property.propertyType == 'Entire'") {{property.landlordType}}




        .footer.custom-footer
          .row.termsPrivacy.row-centered 
            .col-xs-11.col-sm-11.col-md-11.col-centered 
              p 
                a(ui-sref='public.nav.about.main') About
                a(ui-sref='public.nav.about.blog') Blog
                //- a(href='/faq') FAQ
                //- a(href='/contact') Contact
                a(ui-sref='public.nav.about.tos') Terms
                a(ui-sref='public.nav.about.privacy') Privacy 
              .socialIcons
                .twitter(ng-click="socialClick('twitter')")
                .fb(ng-click="socialClick('fb')")
                a.mail(href="mailto:info@apartmate.ca" target="_blank")
              br
              .logo_color_sm
              p 20 Camden Street, Toronto, M5V 1V1 
              p info@apartmate.ca
              br
              
              p &copy; 2015 Apartmate Inc.
