.modal-header
  .multiply(ng-click="cancel()")
.modal-body.boost-modal
  h2 Feature your listing for free    
  button.btn.btn-default.FB-boost(type="submit", ng-click="fbBoost()")
    .row
      .col-md-2.no-padding
        i.fa.fa-facebook.fa-lg
      .col-md-9.no-padding
        p Share on Facebook
  p.padding-bottom Your featured listing will appear within the top default search results for one week.
.modal-footer