.spacer30
.spacer30
.spacer30
.spacer30
	
.row.row-centered
	.col-md-10.col-centered.terms

		h1 Privacy Policy
		h5 Last updated: March 1, 2015.
		.spacer30

		p Thank you for using Apartmate. This policy describes what information is collected by Apartmate, how that information is used, with whom it may be shared, how it is protected, and your choices about such uses and disclosures. 
		p By using our website, you are accepting the practices described in this Privacy Policy. Therefore, we encourage you to read it carefully. If you have any questions, please refer to the end of this Privacy Policy for information on how to contact us.

		ol 
			li 
				h3 Definitions
				p Let’s begin by getting a few definitions out of the way. When we say ‘we’, ‘us’, and ‘Apartmate’, we’re referring to Apartmate Inc. When we say ‘you’ or ‘user’, we’re referring to anyone who uses our website. When we say ‘the Services’, we’re referring to our online platform that connects people who are looking for somewhere to live with people who are offering a place to rent. 
				p ‘Personal Information’ means information about a living individual who can be identified either from the information they provide or in conjunction with other information that is in, or is likely to come into, our possession. ‘Aggregated information’ means information about all of our users or specific groups or categories of users that we combine together and which does not include users’ Personal Information.


			li
				h3 The information we collect
				h4 Log data
				p Every time you access the Apartmate website, regardless of whether you are registered with Apartmate or logged into your Apartmate account, our servers automatically collect information such as your internet protocol (IP) address, the date and time of your visit, hardware and software you are using, referring and exit pages and URLs, number of clicks, pages viewed and the order of those pages, and amount of time spent on particular pages.

				h4 Personal information
				p If you decide to register for an Apartmate account you will be asked to provide your e-mail address and a password. An account is required in order to list a rental, set search alerts, create a roommate profile, save favourite listings, or contact a landlord. 
				
				p If you are listing an entire house or apartment for rent, you will be asked to provide your first name in addition to information related to the rental property, and your phone number if you choose. If you are listing a bedroom in a shared house or apartment, you will be asked to provide your first name, age, and gender, information related to the rental property and may choose to provide information about your interests and activities and phone number.
				
				p All other users may chose choose to complete a profile consisting of their first name, age, gender, picture, in addition to their rental and roommate requirements. They may also provide information about their interests and activities.

				p If you decide not to register you can still search rental listings and roommate profiles, access Apartmate’s landlord, roommate and renter guides, and attend our roommate mixers. However, none of your preferences will be stored, we will not be able to notify you of new listings meeting your search criteria, and you will not be able to contact potential landlords or roommates.

				h4 Cookies and other digital markers 
				p A digital marker is a small text file placed on your computer to help the web server remember certain pieces of anonymous information, such as your IP address. Examples of digital markers include "cookies". Cookies can be either session cookies or persistent cookies. A session cookie expires when you close your browser and is used to make it easier for you to navigate our website. A persistent cookie remains on your device for an extended period of time. 

				p Cookies and other digital markers are intended to help you access a site faster and more efficiently. For example, cookies can store information to help you enter a site without having to login. You may adjust your browser settings to reject digital markers, including cookies, if you choose. But please note that some of the features and services of our website may not function properly without this information.


			li
				h3 How we use the information we collect 
				p We use information that we collect about you to: deliver our products and services, and manage our business; manage your account and provide you with customer support; perform research and analysis about your use of, or interest in, our products, services, or content, or products, services or content offered by others; communicate with you by email, postal mail, telephone and/or mobile devices about products or services that may be of interest to you; develop and display content and advertising tailored to your interests on our site and other sites, including providing our advertisements to you when you visit other sites; perform ad tracking and website or mobile application analytics; enforce or exercise any rights in our terms and conditions; perform functions as otherwise described to you at the time of collection.

			li 
				h3 With whom we share your information

				p We do not share your information with others except as indicated below:

				ol 
					li
						h4 Service providers
						p We may share information, including personal information, with third parties that perform certain services on our behalf. These services may include companies that provide customer service and marketing assistance, business and sales analysis, ad tracking and analytics, support for our website functionality and other features offered through our website. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use this information for any other purposes. 


					li 
						h4 Business partners
						p We do not share your personal information with the businesses with which we partner except when you elect to engage in a particular merchant's offer or program. In these cases, you authorize us to provide your email address and other relevant information to that merchant. 


					li 
						h4 Other Situations
						p We also may disclose your information in response to a subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we may raise or waive any legal objection or right available to us.
						
						p When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce our website terms and conditions or other agreements or policies. In the case of such a disclosure, Apartmate will disclose only the information required and, wherever possible, will inform the individual.


					li 
						h4 Aggregated and/or non-personal-information
						p We may share non-personal information we collect under any of the above circumstances. We may also share it with third parties to develop and deliver targeted advertising on our website and on websites or applications of third parties, and to analyze and report on advertising you see. We may combine non-personal information we collect with additional non-personal information collected from other sources. We also may share aggregated, non-personal, or personal information in hashed, non-human readable form, information with third parties, including advisors, writers, researchers, partners, advertisers and investors for the purpose of conducting general business analysis, studies, articles, and essays media and entertainment or other business purposes. For example, we may engage a data provider who may collect web log data from you (including IP address and information about your browser or operating system), or place or recognize a unique cookie on your browser to enable you to receive customized ads or content. The cookies may reflect de-identified demographic or other data linked to data you voluntarily have submitted to us (such as your email address), that we may share with a data provider solely in hashed, non-human readable form. 

				

			li 
				h3 How we protect your personal information
				p When you provide information to our website, the information is sent to servers located in the United States. We take appropriate security measures (including physical, electronic and procedural measures) to help safeguard your personal information from unauthorized access and disclosure. We want you to feel confident using our website to transact business. However, no system can be completely secure. Therefore, although we take steps to secure your information, we do not promise, and you should not expect, that your personal information, searches, or other communications will always remain secure. Users should also take care with how they handle and disclose their personal information and should avoid sending personal information through insecure email. Please refer to the Royal Canadian Mounted Police’s website for information about how to protect yourself against identity theft.
				
				
			li 
				h3 Information you provide about yourself while using our service
				p We provide areas on our website where you can post information about yourself and others and communicate with others or upload content such as photographs. Such postings are governed by our Terms & Conditions. In addition, such postings may appear on other websites or when searches are executed on the subject of your posting. Also, whenever you voluntarily disclose personal information on publicly-viewable web pages, that information will be publicly available and can be collected and used by others. For example, if you post your email address, you may receive unsolicited messages. We cannot control who reads your posting or what other users may do with the information you voluntarily post, so we encourage you to exercise discretion and caution with respect to your personal information. 



			li 
				h3 Social media widgets 
				p Our website includes social media features, such as Twitter and Facebook. These features may collect information about your IP address and which page you’re visiting on our site, and they may set a cookie to make sure the feature functions properly. Social media accounts are not hosted on Apartmate servers. Your interactions with those features are governed by the privacy policies of the companies that provide them.  


			li 
				h3 Links to third-party sites
				p This website contains links to other websites that Apartmate does not own or operate. These links are provided solely for the convenience of our website visitors. These links are not intended as an endorsement of or referral to the linked websites, nor is Apartmate responsible for the accuracy, currency or reliability of the content found through these links. Apartmate does not have any control over such websites, and therefore has no responsibility or liability for the manner in which the organizations that operate linked websites may collect, use or disclose, secure and otherwise treat an individual's personal information. We recommend that you consult the privacy statements of all third-party websites you visit.

			li 
				h3 Mobile data
				p When you access Apartmate on your mobile, we may store and process different types of information about your location, including general information (e.g., IP address, zip code) and more specific information (e.g., GPS-based functionality on mobile devices used to access the Platform or specific features of the platform). If you do not want your device to provide us with location-tracking information, you can disable the GPS or other location-tracking functions on your device, provided your device allows you to do this. 

			li 
				h3 Changing, deactivating or removing your information
				p You may review, update, correct or delete the Personal Information in your Apartmate account by logging in to your account. If you would like to cancel your account entirely, you can do so by logging in to your account. Please also note that any landlord, tenant or roommate recommendations posted by you may continue to be publicly available on the Platform in association with your first name, even after your Apartmate account is cancelled. 

			li 
				h3 Safeguarding Your Information
				p Apartmate accounts are accessed using an email and password. Apartmate strongly suggests that you do not disclose your password to anyone. Currently, because Apartmate does not collect payment information, we do not encrypt your password. This allows us to resend forgotten passwords rather than asking you to reset them. 

			li 
				h3 Opt-Out
				p You can choose not to provide us with certain information, but that may result in you being unable to use certain features of our website because such information may be required in order for you to register as a member; receive alerts; ask a question; or use in other transactions on our website.
				
				p 
					| Individuals are given the opportunity to opt-out of receiving communications from Apartmate using the unsubscribe mechanism at the bottom of our email communications or contacting us at 
					a(href='mailto:info@apartmate.ca') info@apartmate.ca

			li 
				h3 Notice of Breach of Security
				p No website is safe from hackers. If a security breach causes an unauthorized intrusion into our system that materially affects your information, Apartmate will notify you as soon as possible and later report the action we took in response.

			li 
				h3 Changes to this privacy policy 
				p If we make changes to this Privacy Policy, we will revise the "last updated" date at the top of this Privacy Policy and send them to the last email address you gave us. These changes will be effective as of the date we post on the Website or send the email (or whichever date is later). 

			li 
				h3 How to contact us 
				p If you have questions about this privacy policy, please contact our Privacy Officer by email or post at: 
				p 
					a(href='mailto:info@apartmate.ca') info@apartmate.ca
				p Apartmate Inc.
				p 20 Camden Street  Toronto, Ontario 
				p M5V 1V1




