.spacer30
.spacer30
.spacer30
.spacer30
	
.row.row-centered
	.col-md-10.col-centered.terms

		h1 Terms and Conditions
		h5 Last updated: March 1, 2015.
		.spacer30

		p This website (the “Website”) is operated by Apartmate Inc. (hereafter referred to as "Apartmate", "we", "us", or "our"). Apartmate provides an online platform through which people who have accommodations to rent can connect with people seeking to rent such accommodations (collectively called the “Services”).

		p These terms and conditions constitute an electronic contract between you, the user, and Apartmate. By using this website you agree to be legally bound by all of the terms and conditions as posted on the site at the time of your visit. If you do not fully agree to these terms and conditions you should exit the site immediately.

		p Apartmate reserves the right to change these terms and conditions at any time and to notify you by posting an updated version of these terms and conditions on the site, at which point they will become immediately effective. By continuing to use the site you consent to such changes.

		ol 
			li 
				h3.terms Adults only
				p You must be at least 18 years old to use Apartmate and agree that you have the right, authority and capacity to abide by all of the terms and conditions set out in this contract.

			li
				h3 Disclaimer
				p Apartmate does not endorse any of the users of the site and cannot make any guarantees of their credit worthiness, honesty, behaviour, or rental history. Apartmate cannot be held responsible for any resulting loss or damages of any nature whatsoever and however arising.
				
				p Users should familiarize themselves with and adhere to the Ontario Residential Tenancies Act at all times. It is the responsibility of the user, not of Apartmate, to ensure they do not act in violation of the Residential Tenancies Act.

			li
				h3 Personal Safety
				p APARTMATE STRONGLY ADVISES YOU TO USE EXTREME CAUTION BEFORE SHARING PERSONALLY IDENTIFIABLE INFORMATION WITH OTHER USERS OF THIS WEBSITE. APARTMATE DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON OR SCREENINGS OF ITS USERS. APARTMATE ALSO DOES NOT INQUIRE INTO THE BACKGROUNDS OF ITS USERS OR ATTEMPT TO VERIFY THE STATEMENTS OF ITS USERS BUT RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTER SEARCHES), AT ANY TIME AND USING AVAILABLE PUBLIC RECORDS. You represent that you have never been convicted of a felony and that you are not required to register as a sex offender with any government entity.

				p Your safety and security are very important to us. The nature of this Website promotes the sharing of personal information by users with other users. If you believe that any user of this Website is harassing you or is otherwise using personal information about you for unlawful purposes, we encourage you to first inform local law enforcement authorities and then to contact us so that we may take appropriate action to block further use of the Website by any user who is using this Website and information obtained from it for improper purposes.
				
				p By accessing this Website, you agree to use any personal information provided to you by other users of this Website in a lawful and responsible manner. You further agree that you will not use personal information about other users of this Website for any reason without the express prior consent of the user that has provided such information to you.

			li 
				h3 User Conduct

				p You may not and agree that you will not:

				ol 
					li
						p use manual or automated software, devices, scripts, robots or other means or processes to access, “scrape,” “crawl” or “spider” any web pages or other services contained in the Site, Application, Services or Collective Content;

					li 
						p use the Site or Services or Collective Content for any commercial or other purposes that are not expressly permitted by these Terms;

					li 
						p copy, store or otherwise access any information contained on the Site, Application, Services or Collective Content for purposes not expressly permitted by these Terms;

					li 
						p interfere with or damage our Site, Application or Services, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;

					li 
						p use our Site, Application or Services to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or credit, debit, calling card or account numbers;

					li 
						p use our Site, Application, Services or Collective Content in connection with the distribution of unsolicited commercial email ("spam") or advertisements unrelated to residential rentals;

					li 
						p "stalk" or harass any other user of our Site, Application, Services or Collective Content, or collect or store any personally identifiable information about any other user other than for purposes of transacting a rental agreement;

					li 
						p offer rental accommodation that you do not yourself own or have permission to rent as a residential property;

					li 
						p recruit or otherwise solicit any user to join third-party services or websites that are competitive to Apartmate, without Apartmate’s prior written approval;

					li 
						p impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;

					li 
						p use, display, mirror or frame the Site, Application, Services or Collective Content, or any individual element within the Site, Application, Services or Collective Content, Apartmate’s name, any Apartmate trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page in the Site, Application or Services, without Apartmate’s express written consent;

					li 
						p attempt to probe, scan, or test the vulnerability of any Apartmate system or network or breach any security or authentication measures;

					li 
						p avoid, bypass, remove, deactivate, impair, descramble, or otherwise circumvent any technological measure implemented by Apartmate or any of Apartmate’s providers or any other third party (including another user) to protect the Site, Services, Application or Collective Content;

					li 
						p attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services, Application or Collective Content; or

					li 
						p advocate, encourage, or assist any third party in doing any of the foregoing.

					li 
						p Apartmate has the right to investigate and prosecute violations of any of the above to the fullest extent of the law.

			li 
				h3 Liability
				p Although Apartmate will do its best to ensure that all information published on the website is accurate, it may contain technical inaccuracies or typographical errors. Apartmate assumes no responsibility for and disclaims all liability for any errors or omissions within the website.
				
				p Due to the nature of software and the internet, Apartmate cannot guarantee uninterrupted or error-free access to or running of this site or the transactions conducted through it. Apartmate are not liable for any failure in processing your details due to software or internet errors or viruses or unavailability, or circumstances beyond our reasonable control.
				
				p You are solely responsible for your interactions with other users. You understand that Apartmate does not conduct criminal background checks on its users. Apartmate also does not attempt to verify the statements of its members. Apartmate makes no representations or warranties as to the conduct of members or their compatibility with any current or future members. 
				
				p APARTMATE IS NOT A PARTY TO ANY AGREEMENTS ENTERED INTO BETWEEN USERS OF THIS SITE, NOR IS APARTMATE A REAL ESTATE BROKER, AGENT OR INSURER. APARTMATE HAS NO CONTROL OVER THE CONDUCT OF USERS OF THE SITE, APPLICATION AND SERVICES OR ANY ACCOMMODATIONS, AND DISCLAIMS ALL LIABILITY IN THIS REGARD.
				
				p IN NO EVENT SHALL APARTMATE BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICE, INCLUDING WITHOUT LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER USERS OF THIS SERVICE OR PERSONS YOU MEET THROUGH THIS SERVICE. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL INTERACTIONS WITH OTHER USERS OF THE SERVICE, PARTICULARLY IF YOU DECIDE TO MEET IN PERSON. YOU UNDERSTAND THAT APARTMATE MAKES NO GUARANTEES, EITHER EXPRESS OR IMPLIED, REGARDING YOUR COMPATIBILITY WITH INDIVIDUALS YOU MEET THROUGH THE SERVICE. YOU SHOULD NOT PROVIDE YOUR FINANCIAL INFORMATION (FOR EXAMPLE, YOUR CREDIT CARD OR BANK ACCOUNT INFORMATION) TO OTHER USERS.

			li 
				h3 Copyright and Intellectual Property 
				p Apartmate respects copyright law and expects its users to do the same. Unless otherwise specified, the copyright and all other intellectual property rights in the contents of this web site are owned by or licensed to Apartmate.
				p You may view Aartmate.ca and print hard copies of material on it for your personal, non-commercial use. You may also permit your computer to make a transient copy of the contents of this website for online viewing only. However, you may not copy any contents of this website to third parties including but not limited to caching. Any infringement of Apartmate’s intellectual property rights including through copying whether in electronic, hard copy or other format, distribution, adaptation, broadcasting, republishing is prohibited and shall be strictly enforced.
				p If you believe that your work has been copied and posted on Apartmate in a way that constitutes copyright infringement, please contact us with the following information: an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; a description of the copyrighted work that you claim has been infringed; a description of where the material that you claim is infringing is located on the website; your address, telephone number, and email address; a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf. 


			li 
				h3 Links
				p Apartmate may contain links to third-party websites or resources. You acknowledge and agree that Apartmate is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply an endorsement by Apartmate of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources and the content, products or services available from such websites or resources.


			li 
				h3 Privacy
				p You should appreciate that all information submitted on the Website might potentially be publicly accessible. Important and private information should be protected by you. We are not responsible for protecting, nor are we liable for failing to protect, the privacy of electronic mail or other information transferred through the Internet or any other network that you may utilize. See Apartmate’s privacy policy for more information. The privacy policy is incorporated into and a part of these Terms of Use.

			li 
				h3 Security
				p Apartmate uses industry standard efforts, such as firewalls, to safeguard the confidentiality of your personally identifiable information. However, perfect security does not exist on the internet; Apartmate cannot and does not guarantee that any personally identifiable information provided to us will not become public under any circumstances


			li 
				h3 Feedback
				p We welcome and encourage you to provide comments and suggestions for improving the website or our services.  You may submit feedback through the “Feedback” section of the website. By doing so you acknowledge and agree that all feedback will be the sole and exclusive property of Apartmate and you hereby irrevocably assign to Apartmate all of your right, title, and interest in and to all feedback, including without limitation all worldwide patent, copyright, trade secret, moral and other proprietary or intellectual property rights therein.


			li 
				h3 Governing Law / Enforcement 
				p The validity, construction and performance of this agreement shall be governed in accordance with the laws of Ontario. The Federal and provincial courts located in Ontario shall have sole and exclusive jurisdiction over any disputes arising under the terms of this agreement. 

			li 
				h3 General
				p If any provision of any one of these terms is held to be void or unenforceable in whole or in part, the remaining terms shall continue to be vali

