.spacer30
.spacer30
.row.subtitle
  .col-xs-12.col-sm-12.col-md-12
    .breadCrumbTrail
      .backButton 
        i.fa.fa-angle-left 
        a(href='/my_profile') 
          span Back to My Roommate Profile 
.spacer30
.spacer30
.spacer30
.row.hidden-sm.hidden-xs
  .col-md-offset-4.col-md-1
    .circle
      .h1.formHeader 1
  .col-md-2
    .horizontalLine
  .col-md-1
    .circle
      .h1.formHeader.grey 2

.spacer30
.row
  //- .col-sm-12.col-md-11.npColSm
  h1.formHeader.formHeaderColor Photos and Description
.spacer30.hidden-sm.hidden-xs
.row
  .col-sm-12.col-md-10.col-lg-offset-1.npColSm
    alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert($index)") 
    | {{alert.msg}}
    div.gallery-box.ng-scope(ng-repeat='file in existingImages')
      div.thumbnail
        img(ng-src='{{ file }}')
      div.btn-group
        a.btn.btn-xs.btn-danger(ng-click='removeExistingProfilePictures(file)')
          | Remove
.row
  .col-sm-12.col-md-10.col-lg-offset-1.npColSm
    alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert($index)") 
    | {{alert.msg}}
    .row(data-flow-init='{target: "/profile/api/uploadToApartmate", testChunks:false, propertyId: $root.apartmate._id }', data-flow-files-submitted='$flow.upload()', data-flow-file-success='$file.msg = $message')
      .col-md-12
        .row
          .col-sm-6.last
            .progress(ng-show='$flow.isUploading()')
              .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
                span.sr-only Uploading..
        .row
          .col-sm-12.col-md-8.col-md-offset-2
            div.gallery-box.ng-scope(ng-repeat='file in $flow.files')
              div.thumbnail(ng-show='$flow.files.length')
                img(flow-img='file')
              .btn-group
                a.btn.btn-xs.btn-danger(ng-click='deletePropertyPictures(file)')
                  | Remove
        .spacer30.hidden-sm.hidden-xs
        .row.row-centered
          .col-sm-12.col-md-8.col-md-offset-3
            .panel.panel-success(data-flow-drop='', data-flow-drag-enter='class="panel panel-primary"', data-flow-drag-leave='class="panel panel-success"', ng-class='class')
              .panel-body.hidden-sm.hidden-xs 
                .h3.hidden-sm.hidden-xs Drag images here {{ }}
                p.hidden-sm.hidden-xs OR
                .row
                  .col-sm-12
                    span.btn.btn-default.upload(data-flow-btn='')
                      | Upload Photos
        .row
          .col-sm-12.hidden-md.hidden-lg
            span.btn.btn-default.upload(data-flow-btn='')
              | Upload Photos

    hr
    .row
      .col-md-12.npColSm
        form.form-horizontal(ng-submit='updateAndFinishApartmateProfileById()', name='descriptionForm', role='form')
          .form-group
            label.control-label.col-sm-3(for='description') Personal Description
            .col-sm-8.npColSm
              textarea.form-control.longMobileForm-control(type='textarea', data-ng-model='apartmate.personalDescription', placeholder='', name='description', required='required')
          .form-group
            .col-sm-offset-3.col-sm-5
              button.btn.btn-form.longMobileForm-submit(type='submit', data-ng-disabled='descriptionForm.$invalid') Finish
hr