.spacer30
.row.blog
  .col-md-8.col-md-offset-2.blogFrame
    div(ng-repeat='post in posts')
      h2
        a(ui-sref="public.nav.about.blogpost({slug: post.slug})" ng-bind-html='renderHtml(post.title)')
      p.date {{post.date |  toSec | date:'MMMM d, y' }}
      .blogImgFrame
        .imageDiv
          a(ui-sref="public.nav.about.blogpost({slug: post.slug})")
            img(ng-src="{{post.thumbnail}}")  
        .row
          .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.status 
            .row.blogPostInfo
                a.ff(ui-sref="." ng-click="fbShare(post.slug, post.title, post.thumbnail, post.excerpt)")
                  i.fa.fa-facebook
                a.tw(ng-href="https://twitter.com/intent/tweet?url={{url}}/about/blog/{{post.slug}}&hashtags=apartmate,roommate&text=Intersting%20article%20I%20found%20on%20Apartmate&original_referer={{url}}/about/blog/{{post.slug}}")
                  i.fa.fa-twitter
                a.em(ng-href="mailto:?subject=Very%20interesting%20article%20I%20found%20on%20Apartmate&body=Check%20out%20this%20article%20{{url}}/about/blog/{{post.slug}}" target="_blank")
                  i.fa.fa-envelope
      div(ng-bind-html='renderHtml(post.content)')
      p 
        a.read-more(ui-sref="public.nav.about.blogpost({slug: post.slug})") Read more
      hr(ng-show="$index != posts.length - 1")

.footer.custom-footer
  .row.termsPrivacy.row-centered 
    .col-xs-11.col-sm-11.col-md-11.col-centered 
      p 
        a(ui-sref='public.nav.about.main') About
        a(ui-sref='public.nav.about.blog') Blog
        //- a(href='/faq') FAQ
        //- a(href='/contact') Contact
        a(ui-sref='public.nav.about.tos') Terms
        a(ui-sref='public.nav.about.privacy') Privacy 
      .socialIcons
        .twitter(ng-click="socialClick('twitter')")
        .fb(ng-click="socialClick('fb')")
        a.mail(href="mailto:info@apartmate.ca" target="_blank")
      br
      .logo_color_sm
      p 20 Camden Street, Toronto, M5V 1V1 
      p info@apartmate.ca
      br
      
      p &copy; 2015 Apartmate Inc.
